.item {
  border: 1px #dddddd solid;
  border-radius: 1rem;
  box-shadow: 0 0 50px -50px;

  padding: 1%;
  margin-bottom: 5vh;

  position: relative;
}

.id {
  position: absolute;
  right: 1%
}

header {
  margin-bottom: 1%;
}

.router-link, .router-link:hover, .router-link:active, .router-link:visited {
  text-decoration: none;
  color: black;
}